body{
    background-color: #4A1096;
    color: #FE980A;
    font-family: 'Ubuntu', sans-serif;
    
}

h1{
    text-align: center;
    font-size: 50px;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    -webkit-box-shadow: -35px 32px 34px rgba(0, 0, 0, 0.662);
    -moz-box-shadow: -35px 32px 34px rgba(0, 0, 0, 0.662);
    box-shadow: -18px 16px 14px rgba(0, 0, 0, 0.662);
    margin-bottom: 5%;
    background-color: rgb(231, 231, 233);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}


.bloco{
    width: 50%;
    margin: 20px; 
    height: 300px;
    width: 300px; 
    border: 5px solid #FE980A;
    color: #4A1096;
    border-radius: 20px;
}

.bloco h2{
    text-align: center;
    background-color: #4A1096;
    color: #FFF;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 20px 0 20px 0;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.item button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    margin: 20px;
    background-color: #FE980A;
    
    color: #FFF;
    font-size: 16px;    
    border: none;
    
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.item span{
    font-size: 32px;
}